@use "@angular/material" as mat;

.container {
    height: 90vh;

    overflow: hidden;

    .dialog-title-container {
        display: flex;
        justify-content: center;
    }

    .dialog-body-container {
        background-color: var(--mat-sys-surface);
        border-top: 1px solid var(--mat-sys-outline);
        border-bottom: 1px solid var(--mat-sys-outline);
        padding: 10px 0 5px 5px;
    }
}

pdf-viewer {
    width: 500px;
    height: 80vh;
}