<ng-container [formGroup]="form">
    <fieldset formArrayName="skill">
        <legend>Competenze</legend>
        @for (skill of formArray.controls; track skill; let idx = $index) {
        <div [formGroupName]="idx">
            <div>
                <button mat-mini-fab type="button" (click)="removeFields(idx)">
                    <mat-icon>delete</mat-icon>
                </button>

                <mat-form-field>
                    <mat-label>Categoria</mat-label>
                    <input matInput type="text" formControlName="categoria" />
                    <mat-error>Campo obbligatorio</mat-error>
                </mat-form-field>
            </div>

            <div formArrayName="lista">
                @for (s of listaSkill(idx).controls; track s; let idx2 = $index)
                {
                <span>
                    <button
                        mat-mini-fab
                        type="button"
                        (click)="removeSubFields(idx, idx2)"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>

                    <mat-form-field>
                        <mat-label>Skill {{ idx2 + 1 }}</mat-label>
                        <input matInput type="text" [formControlName]="idx2" />
                        <mat-error>Campo obbligatorio</mat-error>
                    </mat-form-field>
                </span>
                <mat-divider [vertical]="true"></mat-divider>
                }

                <button mat-mini-fab type="button" (click)="addSubFields(idx)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        @if (!$last) {
        <mat-divider></mat-divider>
        } }

        <button mat-fab extended type="button" (click)="addFields()">
            <mat-icon>add</mat-icon>
            Aggiungi Categoria
        </button>
    </fieldset>
</ng-container>
