mat-divider.mat-divider-vertical {
    display: inline;
}

fieldset {
    > div > div:first-child {
        display: inline-flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }

    div[formArrayName="lista"] {
        > span {
            display: inline-flex;
            justify-content: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
        }

        > button:only-child {
            margin-bottom: 22.25px;
        }
    }
}
