<ng-container [formGroup]="form">
    <fieldset formArrayName="skill">
        <legend>Competenze</legend>
        @for (skill of formArray.controls; track skill; let idx = $index) {
        <div appearance="outlined" [formGroupName]="idx">
            <button
                type="button"
                class="btn btn-primary"
                (click)="removeFields(idx)"
            >
                <mat-icon>delete</mat-icon>
            </button>

            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Categoria</mat-label>
                <input matInput type="text" formControlName="categoria" />
                <mat-error>Campo obbligatorio</mat-error>
            </mat-form-field>

            <div formArrayName="lista">
                @for (s of listaSkill(idx).controls; track s; let idx2 = $index)
                {
                <span>
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="removeSubFields(idx, idx2)"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>

                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>Skill {{ idx2 + 1 }}</mat-label>
                        <input matInput type="text" [formControlName]="idx2" />
                        <mat-error>Campo obbligatorio</mat-error>
                    </mat-form-field>
                </span>
                <mat-divider [vertical]="true"></mat-divider>
                }

                <button
                    type="button"
                    class="btn btn-primary"
                    (click)="addSubFields(idx)"
                >
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        @if (!$last) {
        <mat-divider></mat-divider>
        } }

        <button type="button" class="btn btn-primary" (click)="addFields()">
            <mat-icon>add</mat-icon>
            Aggiungi Categoria
        </button>
    </fieldset>
</ng-container>
