@use "@angular/material" as mat;

.success-snackbar {
    @include mat.snack-bar-overrides(
        (
            container-color: var(--mat-sys-primary),
            supporting-text-weight: 500,
        )
    );
}

.error-snackbar {
    @include mat.snack-bar-overrides(
        (
            container-color: var(--mat-sys-error),
            supporting-text-weight: 500,
        )
    );
}
