@use 'variables' as var;

textarea {
    color: var.$app-dark-grey-lines;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 0.1875rem 0.625rem;
    border: 1px solid var.$app-grey-border;
    border-radius: 4px;
    background-color: var.$app-white;

    &:disabled {
        opacity: 0.5;
    }
}

textarea::placeholder {
    color: var.$app-medium-grey-border;
}