fieldset {
    > div {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;

        mat-form-field {
            flex-grow: 10;

            &:has(input[type="month"]) {
                flex-grow: 0.5;
            }

            &:has(textarea) {
                width: 100%;
            }
        }
    }
}
