<ng-container [formGroup]="form">
    <div formArrayName="esperienze">
        @for (work of formArray.controls; track work; let idx = $index) {
        <div class="flex" [formGroupName]="idx">
            <button type="button" mat-fab (click)="removeFields(idx)">
                <mat-icon>delete</mat-icon>
            </button>

            <div class="fields">
                <span>
                    <mat-form-field appearance="outline">
                        <mat-label>Posizione</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="posizione"
                        />
                        <mat-error>Campo obbligatorio</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Azienda</mat-label>
                        <input matInput type="text" formControlName="azienda" />
                        <mat-error>Campo obbligatorio</mat-error>
                    </mat-form-field>
                </span>

                <span>
                    <mat-form-field appearance="outline">
                        <mat-label>Data Inizio</mat-label>
                        <input
                            matInput
                            placeholder="GG/MM/AAAA"
                            [matDatepicker]="dataInizio"
                            formControlName="dataInizio"
                        />
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="dataInizio"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #dataInizio></mat-datepicker>
                        @if
                        (formArray.controls.at(idx)?.get('dataInizio')?.hasError('matDatepickerParse'))
                        {
                        <mat-error>Data non valida</mat-error>
                        } @else {
                        <mat-error>Campo obbligatorio</mat-error>
                        }
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Data Fine</mat-label>
                        <input
                            matInput
                            placeholder="GG/MM/AAAA"
                            [matDatepicker]="dataFine"
                            formControlName="dataFine"
                        />
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="dataFine"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #dataFine></mat-datepicker>
                        <mat-error>Data non valida</mat-error>
                    </mat-form-field>
                </span>
            </div>

            <mat-form-field class="textarea" appearance="outline">
                <mat-label>Dettagli</mat-label>
                <textarea
                    matInput
                    cdkTextareaAutosize
                    cdkAutosizeMaxRows="6"
                    cdkAutosizeMinRows="6"
                    type="text"
                    formControlName="dettagli"
                ></textarea>
            </mat-form-field>
        </div>

        @if (!$last) {
        <mat-divider></mat-divider>
        } }

        <button type="button" mat-fab extended (click)="addFields()">
            <mat-icon>add</mat-icon>
            Aggiungi
        </button>
    </div>
</ng-container>
