mat-divider {
    margin-bottom: 20px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.fields {
    display: inline-flex;
    flex-direction: column;
    min-width: 33%;
}

.fields mat-form-field {
    width: 50%;
    margin: 0;
    margin-bottom: 10px;
}

.textarea {
    display: inline-block;
    width: 100%;
}
