<ng-container [formGroup]="form">
    <fieldset formArrayName="studi">
        <legend>Studi</legend>
        @for (studio of formArray.controls; track studio; let idx = $index) {
        <div [formGroupName]="idx">
            <button
                type="button"
                class="btn btn-primary"
                (click)="removeFields(idx)"
            >
                <mat-icon>delete</mat-icon>
            </button>

            <mat-form-field
                class="text"
                floatLabel="always"
                appearance="outline"
            >
                <mat-label>Titolo</mat-label>
                <input matInput type="text" formControlName="titolo" />
                <mat-error>Campo obbligatorio</mat-error>
            </mat-form-field>

            <mat-form-field
                class="text"
                floatLabel="always"
                appearance="outline"
            >
                <mat-label>Istituto</mat-label>
                <input matInput type="text" formControlName="istituto" />
                <mat-error>Campo obbligatorio</mat-error>
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Data Inizio</mat-label>
                <input matInput type="month" formControlName="dataInizio" />
                @if
                (formArray.controls.at(idx)?.get('dataInizio')?.hasError('matDatepickerParse'))
                {
                <mat-error>Data non valida</mat-error>
                } @else {
                <mat-error>Campo obbligatorio</mat-error>
                }
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Data Fine</mat-label>
                <input matInput type="month" formControlName="dataFine" />
                <mat-error>Data non valida</mat-error>
            </mat-form-field>

            <mat-form-field
                class="textarea"
                floatLabel="always"
                appearance="outline"
            >
                <mat-label>Dettagli</mat-label>
                <textarea
                    matInput
                    cdkTextareaAutosize
                    cdkAutosizeMaxRows="6"
                    formControlName="dettagli"
                ></textarea>
            </mat-form-field>
        </div>

        @if (!$last) {
        <mat-divider></mat-divider>
        } }

        <button type="button" class="btn btn-primary" (click)="addFields()">
            <mat-icon>add</mat-icon>
            Aggiungi
        </button>
    </fieldset>
</ng-container>
