@if (isLoading()) {
<div class="spinner_overlay">
    <mat-spinner></mat-spinner>
</div>
}

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset>
        <legend>Anagrafica</legend>

        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Telefono</mat-label>
            <input matInput type="tel" placeholder="+39 123 456 7890" formControlName="telefono" />
            @if (form.controls.telefono.hasError('required')) {
            <mat-error>Campo obbligatorio</mat-error>
            } @else {
            <mat-error>Numero di telefono non valido</mat-error>
            }
        </mat-form-field>

        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
            @if (form.controls.email.hasError('required')) {
            <mat-error>Campo obbligatorio</mat-error>
            } @else {
            <mat-error>Email non valida</mat-error>
            }
        </mat-form-field>

        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Indirizzo</mat-label>
            <input matInput type="text" formControlName="indirizzo" />
            <mat-error>Campo obbligatorio</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Sito</mat-label>
            <input matInput type="text" formControlName="sito" />
        </mat-form-field>
    </fieldset>

    <app-work-form-fields [preload]="esperienze()" formArrayName="esperienze" />

    <app-studies-form-fields [preload]="studi()" formArrayName="studi" />

    <app-lang-form-fields [preload]="lingue()" formArrayName="lingue" />

    <app-skills-form-fields [preload]="skill()" formArrayName="skill" />

    <div class="float-button">
        <button class="btn btn-primary" type="submit">
            <mat-icon>save</mat-icon>
            Salva
        </button>

        <button class="btn btn-primary" type="button" (click)="openPreviewDialog()">
            <mat-icon>preview</mat-icon>
            Anteprima
        </button>

        <button class="btn btn-primary" type="button" (click)="onDownload()">
            <mat-icon>download</mat-icon>
            Scarica
        </button>
    </div>
</form>