fieldset {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    mat-form-field {
        flex-grow: 1;
    }
}

.float-button {
    position: sticky;
    bottom: 0;

    display: flex;
    justify-content: end;
    align-items: center;

    padding: 2px;
    margin-left: auto;

    width: fit-content;

    z-index: 1000;

    button {
        margin: 5px;
    }
}

.spinner_overlay {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: #00000043;

    z-index: 1000;
}

mat-spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
