@use "@angular/material" as mat;

@use "styles/button";
@use "styles/dialog";
@use "styles/divider";
@use "styles/fieldset";
@use "styles/snackbar";
@use "styles/theme" as theme;

html {
    color-scheme: light;

    height: 100%;
    background-color: var(--mat-sys-background);

    @include mat.theme(
        (
            color: theme.$primary-palette,
            typography: Roboto,
        )
    );
}

body {
    font: var(--mat-sys-body-medium);
}
