fieldset {
    > div {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;

        mat-form-field {
            flex-grow: 3;

            &:first-of-type {
                flex-grow: 1;
            }
        }
    }
}
